*{
    background-color: #393E46;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, td{
    border: 1px solid;
    border-collapse: collapse; 
}

tr{
    border-bottom: 1pt solid;
}

td{
    text-align: center;
}